<?xml version="1.0"?>
<!--
/**
 * Fontera Parcelninja
 *
 * NOTICE OF LICENSE
 *
 * Private Proprietary Software (http://fontera.co.za/legal)
 *
 * @copyright  Copyright (c) 2016 Fontera (http://www.fontera.com)
 * @license    http://fontera.co.za/legal  Private Proprietary Software
 * @author     Shaughn Le Grange - Hatlen <support@fontera.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Adminhtml toolbar buttons -->
    <type name="Magento\Backend\Block\Widget\Button\Toolbar">
        <plugin name="parcelninjaToolbarButtons" type="Fontera\Parcelninja\Block\Adminhtml\Widget\Button\Toolbar" />
    </type>
</config>